export(fwerPowerFdrPower)
export(probRel_filterVstest_effect)
export(ranksProb_compare)
export(roeder_wasserman_weight)
export(ranksProb_byEffect)
export(runif_by_mean)
export(simu_fwer)
export(test_by_block)
export(weight_byEffect_bin)
export(weight_byEffect_cont)
export(weightSum_by_c)
import(OPWeight)
import(stats)
importFrom(IHW, ihw)
importFrom(IHW, rejections)
importFrom(IHW, adj_pvalues)
importFrom(mvnfast, rmvn)
importFrom(qvalue, qvalue)
importFrom(tibble, tibble)







